/* NAV style stat*/

.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-Title{
    font-size: 40px;
    font-weight: 800px;
}
.nav> ul{
    display: flex;
   align-items: center;
}
.nav> ul> li{
    list-style: none;
    margin-right: 40px;
}
.nav> ul> li a{
    color: orangered;
    text-decoration: none;

}
.hire-button{
    font-size: 20px;
    font-weight: 800px;
    padding: 10px 25px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}

